/*! restaurant css */
@font-face {
	font-family:"porkys";
	font-style:normal;
	src: url("hostedFonts/PORKYS_.TTF");
	}
#header {
	font-family: "porkys", sans-serif;
	font-weight:normal;
	}
#footer{
	font-weight:bold;
	}
a:link {
	color:black;
	text-decoration:none;
	}
a:visited{
	color:blue;
	}
a:hover{
	font-weight:bold;
	}
a:active{
	text-decoration:underline;
	}