/*! external CSS for Album */
html {
	background-color: black;
	color: white;
	}

tbody{
	font-style:italic;
	color:black;
	background-color:#ffff80;
	border:1px solid black;
	border-collapse:collapse;
	}
li {
	font-weight:bold;
	border-bottom: 1px white;
	font-style:italic;
	text-align:left;
	}
caption {
	font-weight:bold;
	text-align:center;
	}
#albumname, #BandandProducer {
	font-family:"Optimus Princeps", serif;
	}
div {
	text-align:center;
	}
/*! #albumart {
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/61rzm599SJL.jpg");
	background-attachment:scroll;
	background-repeat:no-repeat;
	} 
*/

a {
	font-weight:bolder;
	}
a:link {
	color:red;
	text-decoration:none;
	}
a:visited {
	color: #ef5130;
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	color:red;
	background-color:#ffff80;
	}
a:active{
	text-decoration:none;
	color:green;
	}
