/*! external CSS for Albumv2 */
html {
	background-color: black;
	color: white;
	}
#table1 {
	font-family: sans-serif;
	}
#albumart {
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/61rzm599SJL.jpg");
	background-attachment:scroll;
	background-repeat:no-repeat;
	}