/*! external CSS for Album */
html {
	background-color: black;
	color: white;
	}
table, thead{
	border:1px solid white;
	border-collapse:collapse;
	font-family:sans-serif;
	}
tbody{
	font-style:italic;
	color:black;
	background-color:#ffff80;
	border:1px solid black;
	border-collapse:collapse;
	}
#albumart {
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/61rzm599SJL.jpg");
	background-attachment:scroll;
	background-repeat:no-repeat;
	}
a {
	font-weight:bolder;
	}
a:link {
	color:red;
	text-decoration:none;
	}
a:visited {
	color: #ef5130;
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	color:red;
	background-color:#ffff80;
	}
a:active{
	text-decoration:none;
	color:green;
	}
